<!-- templates/base.html -->
{% load static %}
<!DOCTYPE html> <!-- Используется html 5 версии -->
<html lang="ru"> <!-- Язык сайта - русский -->

  <body>       
    <header>
      <!--{% block title %}
        Потерялся заголовок
      {% endblock %}-->
      
      {% include 'includes/header.html' %}
    </header>
    <main>
      <!--{% block header %} Потерялся заголовок{% endblock %}-->
      {% block content %}
        Контент не подвезли :(
      {% endblock %}
    </main>
    <footer>
      {% include 'includes/footer.html' %} 
    </footer>
  </body>
  
</html> 